body{
  background-image: url('./assets/Weather.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 200vh;
  color: rgb(17, 17, 18);
  margin-left: 0;
  padding: 20px;
  border-radius: 30px;

}
